app = "agency-task-manager"
primary_region = "bom"

[build]

[env]
  PORT = "8080"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

  [[http_service.checks]]
    grace_period = "10s"
    interval = "15s"
    method = "get"
    path = "/"
    protocol = "http"
    timeout = "5s"

[[vm]]
  memory = "256mb"
  cpus = 1
